# Configurações do Tavily (Busca de Notícias TI/IA)
TAVILY_API_KEY=tvly-sua_chave_tavily_aqui

# Configurações da API do Groq
GROQ_API_KEY=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

# Configurações do Twilio (WhatsApp / SMS)
TWILIO_ACCOUNT_SID=AC99aa2c72ab7b938348624ddf4a67faca
TWILIO_AUTH_TOKEN=seu_auth_token_aqui
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

